<div id="nav" class="navbar navbar-default navbar-static-top" role="navigation">
<div class="container-fluid" style="max-width: 1400px; margin: 0 auto;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="{{ "/assets/img/gazebo_logo.png" | prepend: site.baseurl }}" alt="Gazebo" height='24'/>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class='active'><a href="https://gazebosim.org/docs/all/tutorials" target="_blank">Tutorials</a></li>
            <li><a href="https://gazebosim.org/docs/all/getstarted#step-1-install" target="_blank">Install</a></li>
            <li><a href="https://discourse.openrobotics.org/c/gazebo/95" target="_blank">Community</a></li>
            <li><a href="https://robotics.stackexchange.com/questions/tagged/gazebo" target="_blank">Q&A</a></li>
        </ul>

        <!-- Search box form -->
        <div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search" action="search"
                id="cse-search-box-form-id">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search documentation..."
                            name="Q" id="cse-search-input-box-id" autocomplete="off">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" aria-label="Search">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
