---
layout: "wrapper"
---

<div class="container container-fluid">
        <div>
            <a href="{{site.baseurl}}/">
                <i class="glyphicon glyphicon-chevron-left" style="margin-right:3px"></i>
                Go back
            </a>
        </div><br>
        <div class="row">
            <div class="col-xs-12">
            <h1>{{page.title}}</h1>
            <hr>
            </div>
        </div>
        <div class="container-fluid">
            {% for cat in site.categories %}
                {% unless cat.title == 'All links'%}
                {% assign subcat_size = cat.subcategories | size %}
                {% unless subcat_size == 0%}
                    <h3 class="subcat-title"><b>{{cat.title}}</b></h3>
                    <div class="container-fluid" style="margin-top: 20px">
                        {% for subcategory in cat.subcategories %}
                        <h3 class="subcat-title" id="{{ subcategory.title | slugify }}">{{subcategory.title}}</h3>
                        <ul>
                            <div class="col-xs-12 item-container">
                                {% for item in subcategory.items %}                   
                                <li>
                                    <a class="item-title" style="text-decoration: none;" href="{{item.url}}" target="_blank" rel="noopener noreferrer">
                                        {% if item.star %}
                                        <span class="star-icon">★</span>
                                        {% endif %}
                                        {{item.title}}
                                    </a>
                                    <p class="item-desc">{{item.desc}}</p>
                                </li>
                                {% endfor %}
                            </div>
                        </ul>
                        {% endfor %}
                    </div><hr class="cat-divider">
                    {% endunless %}
                    {% endunless %}
                {% endfor %}
                </div>
            </div>
            
