---
layout: "wrapper"
---

<div class="container container-fluid" style="padding-top: 30px; padding-bottom: 60px;">
    <div class="row">
        <div class="col-xs-12">
            <div style="margin-bottom: 20px;">
                <a href="{{site.baseurl}}/">
                    <i class="glyphicon glyphicon-chevron-left" style="margin-right: 6px;"></i>
                    Go back
                </a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <div style="display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap; gap: 20px; margin-bottom: 20px;">
                <h1 style="margin: 0;">{{page.title}}</h1>
                <a href="https://github.com/j-rivero/gazebo-doc-index/edit/master/{{page.path}}" class="suggest-edit-btn">
                    <i class="glyphicon glyphicon-edit" style="margin-right: 8px;"></i>
                    Suggest edits
                </a>
            </div>
            <hr style="border-color: var(--border-color); margin-top: 20px; margin-bottom: 40px;">
        </div>
    </div>
    
    <div class="container-fluid" style="padding: 0;">
        {% for subcategory in page.subcategories %}
        <div class="row">
            <div class="col-xs-12">
                <h3 class="subcat-title" id="{{ subcategory.title | slugify }}">{{subcategory.title}}</h3>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <ul class="item-container">
                    {% for item in subcategory.items %} 
                    <div class="index-item">
                        <a class="item-title" style="text-decoration: none;" href="{{item.url}}" target="_blank" rel="noopener noreferrer">
                            {% if item.star %}
                            <span class="star-icon">★</span>
                            {% endif %}
                            {{item.title}}
                        </a>
                        <p class="item-desc">{{item.desc}}</p>
                    </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    